<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Resident Mystery </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div class="container-collector" id="main">
    <div class="container-content" id="content_flex_top_collector">
        <div class="col-6">

        </div>

        <div class="col-6 text-right">
            Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/app-logout}" method="POST" name="logoutForm">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>




    <div class="container-content" id="content_flex_center">
        <div class="form-group">
            <h6>Current Game Data:</h6>
            <p>
                <td th:text="${gameData}"></td>
            </p>
            <div class="alert alert-dark" role="alert">
                <a th:href="@{/admin/import}"/>Import New Game Data</a>
            </div>
            <div class="alert alert-dark" role="alert">
                <a th:href="@{/admin/manage}"/>Manage Game Data</a>
            </div>
        </div>
    </div>

    <div id="btmL">
        <h2>Find me on social media</h2>
        <h3><strong>A new project idea?</strong> Contact me!</h3>
        <a href="https://twitter.com/Suracki" class="fa fa-twitter"></a>
        <a href="https://github.com/Suracki" class="fa fa-github"></a>
        <a href="https://www.linkedin.com/in/simon-linford/" class="fa fa-linkedin"></a>
    </div>
    <div id="btmR"></div>

</div>
</body>
</html>