<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>User Already Exists</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div class="container-collector" id="main">
    <div class="continer-content" id="content_flex_top_collector">
    </div>




    <div class="container-content" id="content_flex_center_form">

        <div class="form-group">
            <p></p>
            <p>User already exists with this name.</p>
            <p><a class="btn btn-primary btn-sm col-xs-2 margin-left" th:href="@{/login/reset?user={name}(name=${name})}">Reset Password</a></p>
            <p><a class="btn btn-danger btn-sm col-xs-2 margin-left" th:href="@{/}">Cancel</a></p>
        </div>

    </div>

    <div id="btmL">
        <h2>Find me on social media</h2>
        <h3><strong>A new project idea?</strong> Contact me!</h3>
        <a href="https://twitter.com/Suracki" class="fa fa-twitter"></a>
        <a href="https://github.com/Suracki" class="fa fa-github"></a>
        <a href="https://www.linkedin.com/in/simon-linford/" class="fa fa-linkedin"></a>
    </div>
    <div id="btmR"></div>

</div>
</body>
</html>