<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Resident Mystery </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div class="container-collector" id="main">
    <div class="container-content" id="content_flex_top_collector">
        <div class="col-6">

        </div>

        <div class="col-6 text-right">
            Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/app-logout}" method="POST" name="logoutForm">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>




    <div class="container-content" id="content_flex_center">
        <form action="#" th:action="@{/admin/addInter/validate}" th:object="${interactable}" method="post" class="form-horizontal" style="width: 100%">
            <div class="form-group">
                <label for="interactableName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{interactableName}" id="interactableName" placeholder="interactableName" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('interactableName')}" th:errors="*{interactableName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="interactableDesc" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="interactableDesc" rows="5" th:field="*{interactableDesc}"></textarea>
                    <p class="text-danger" th:if="${#fields.hasErrors('interactableDesc')}" th:errors="*{interactableDesc}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="solvedText" class="col-sm-2 control-label">Solved Text</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="solvedText" rows="5" th:field="*{solvedText}"></textarea>
                    <p class="text-danger" th:if="${#fields.hasErrors('solvedText')}" th:errors="*{solvedText}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="alreadySolvedText" class="col-sm-2 control-label">Already Solved Text</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="alreadySolvedText" rows="5" th:field="*{alreadySolvedText}"></textarea>
                    <p class="text-danger" th:if="${#fields.hasErrors('alreadySolvedText')}" th:errors="*{alreadySolvedText}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="interactableName" class="col-sm-2 control-label">Contents (Loot Name, can be blank)</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{contents}" id="contents" placeholder="contents" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="keyName" class="col-sm-2 control-label">Key (Loot Name)</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{keyName}" id="keyName" placeholder="keyName" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('keyName')}" th:errors="*{keyName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="consumeKey" class="col-sm-2 control-label">Consumes Key?</label>
                <div class="col-sm-10">
                    <input type="checkbox" th:field="*{consumeKey}" id="consumeKey" value="no">
                </div>
            </div>
            <div class="form-group">
                <label for="roomName" class="col-sm-2 control-label">Location (Room Name)</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{roomName}" id="roomName" placeholder="roomName" class="col-4">
                </div>
            </div>
            <div class="form-group">
                <label for="target" class="col-sm-2 control-label">Target (Interactable Name, can be blank)</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{target}" id="target" placeholder="" class="col-4">
                </div>
            </div>
            <div class="form-group">
                <label for="gameEnd" class="col-sm-2 control-label">Ends Game?</label>
                <div class="col-sm-10">
                    <input type="checkbox" th:field="*{gameEnd}" id="gameEnd" value="no">
                </div>
            </div>
            <div class="form-group">
                <label for="endName" class="col-sm-2 control-label">End Name (must be set if this ends the game)</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{endName}" id="endName" placeholder="" class="col-4">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/admin/manage">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add Interactable">
                </div>
            </div>

        </form>
    </div>

    <div id="btmL">
        <h2>Find me on social media</h2>
        <h3><strong>A new project idea?</strong> Contact me!</h3>
        <a href="https://twitter.com/Suracki" class="fa fa-twitter"></a>
        <a href="https://github.com/Suracki" class="fa fa-github"></a>
        <a href="https://www.linkedin.com/in/simon-linford/" class="fa fa-linkedin"></a>
    </div>
    <div id="btmR"></div>

</div>
</body>
</html>